<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTeacherLabel" jhiTranslate="jhipsterMonolithicApp.teacher.home.createOrEditLabel">Create or edit a Teacher</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!teacher.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="teacher.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="teacher.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="teacher.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.education" for="field_education">Education</label>
            <input type="text" class="form-control" name="education" id="field_education"
                [(ngModel)]="teacher.education" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.career" for="field_career">Career</label>
            <input type="text" class="form-control" name="career" id="field_career"
                [(ngModel)]="teacher.career" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.star" for="field_star">Star</label>
            <input type="number" class="form-control" name="star" id="field_star"
                [(ngModel)]="teacher.star" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.picPath" for="field_picPath">Pic Path</label>
            <input type="text" class="form-control" name="picPath" id="field_picPath"
                [(ngModel)]="teacher.picPath" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                [(ngModel)]="teacher.deleted" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="teacher.createTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="teacher.updateTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.sort" for="field_sort">Sort</label>
            <input type="number" class="form-control" name="sort" id="field_sort"
                [(ngModel)]="teacher.sort" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMonolithicApp.teacher.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" [(ngModel)]="teacher.subjectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subjectOption.id" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
