<div>
    <h2>
        <span jhiTranslate="jhipsterMonolithicApp.course.home.title">Courses</span>
        <button class="btn btn-primary float-right jh-create-entity create-course-my-suffix" [routerLink]="['/', { outlets: { popup: ['course-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterMonolithicApp.course.home.createLabel">
            Create new Course
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="jhipsterMonolithicApp.course.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="jhipsterMonolithicApp.course.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addAt"><span jhiTranslate="jhipsterMonolithicApp.course.addAt">Add At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="originalPrice"><span jhiTranslate="jhipsterMonolithicApp.course.originalPrice">Original Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="jhipsterMonolithicApp.course.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="intro"><span jhiTranslate="jhipsterMonolithicApp.course.intro">Intro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="jhipsterMonolithicApp.course.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="classHour"><span jhiTranslate="jhipsterMonolithicApp.course.classHour">Class Hour</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pictureUrl"><span jhiTranslate="jhipsterMonolithicApp.course.pictureUrl">Picture Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="jhipsterMonolithicApp.course.updateTime">Update Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="salesQuantity"><span jhiTranslate="jhipsterMonolithicApp.course.salesQuantity">Sales Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pageViews"><span jhiTranslate="jhipsterMonolithicApp.course.pageViews">Page Views</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="soldOutTime"><span jhiTranslate="jhipsterMonolithicApp.course.soldOutTime">Sold Out Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="soldOutState"><span jhiTranslate="jhipsterMonolithicApp.course.soldOutState">Sold Out State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validDays"><span jhiTranslate="jhipsterMonolithicApp.course.validDays">Valid Days</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subjectId"><span jhiTranslate="jhipsterMonolithicApp.course.subject">Subject</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let course of courses ;trackBy: trackId">
                <td><a [routerLink]="['../course-my-suffix', course.id ]">{{course.id}}</a></td>
                <td>{{course.name}}</td>
                <td jhiTranslate="{{'jhipsterMonolithicApp.CourseState.' + course.state}}">{{course.state}}</td>
                <td>{{course.addAt | date:'medium'}}</td>
                <td>{{course.originalPrice}}</td>
                <td>{{course.price}}</td>
                <td>{{course.intro}}</td>
                <td>{{course.content}}</td>
                <td>{{course.classHour}}</td>
                <td>{{course.pictureUrl}}</td>
                <td>{{course.updateTime | date:'medium'}}</td>
                <td>{{course.salesQuantity}}</td>
                <td>{{course.pageViews}}</td>
                <td>{{course.soldOutTime | date:'medium'}}</td>
                <td jhiTranslate="{{'jhipsterMonolithicApp.SoldOutState.' + course.soldOutState}}">{{course.soldOutState}}</td>
                <td>{{course.validDays}}</td>
                <td>
                    <div *ngIf="course.subjectId">
                        <a [routerLink]="['../subject-my-suffix', course.subjectId  ]" >{{course.subjectId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../course-my-suffix', course.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-my-suffix/'+ course.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-my-suffix/'+ course.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="courses && courses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
